@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card login-logout-tab px-2">
                <div class="card-header bg-white">
                    <h2 class="align-middle">@ViewData["Title"]</h2>
                </div>
                <div class="card-content pb-3">
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
