@{
}

@model Crash

<h1>@Model.MAIN_ROAD_NAME</h1>

<div class="float-right">
    <a class="btn btn-secondary text-white" asp-controller="Admin" asp-action="EditCrash" asp-route-id="@Model.CRASH_ID">Edit</a>
    <a class="btn btn-danger text-white" asp-controller="Admin" asp-action="DeleteCrash" asp-route-id="@Model.CRASH_ID">Delete</a>
</div>