@{
    ViewData["Title"] = "Home";
}

<script type="text/javascript"
        src="https://app.termly.io/embed.min.js"
        data-auto-block="on"
        data-website-uuid="bd768242-0caf-4596-be95-3d56795fa394"></script>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>*@
<div style="background-color: #262626;">
    <img src="~/img/roads.jpg" style="width:100%;height:auto;" />
    <br />
</div>

<p style="background-color: #262626">__</p>