@using Microsoft.AspNetCore.Identity
@using INTEX.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-secondary btn-lg text-white m-1" asp-controller="Admin" asp-action="EditCrash" asp-route-id="@Model.CRASH_ID">Edit</a>
    <a class="btn btn-danger btn-lg text-white" asp-controller="Admin" asp-action="DeleteCrash" asp-route-id="@Model.CRASH_ID">Delete</a>
}
